*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Old Horror Films;
    src: url(Old\ Horror\ Films.ttf);
}

html{
    cursor: url(/img/cursor.png), auto;
}
body{
    background-image: url(/img/Halloween-Pumpkin-Pattern.jpg);
    padding-top: 50px;
    background-attachment: fixed;
}

.title{
    font-family: Old Horror Films;
    text-align: center;
    font-size: 90px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.card-container{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0 50px;
}

.card{
    width: 300px;
    height: 300px;
    background: repeating-linear-gradient(45deg, rgba(141, 26, 217, 0.6) 0%, rgba(246,198,75, 0.6) 10%, rgba(141,26,217, 0.6) 30%);

    border-radius: 20px;
    border: 5px solid white;
    padding: 50px;
    transition: 0.5s ;
}

.card:hover{
    transform: scale(1.05) rotate(10deg);
    border: 15px solid white;
}


.card img{
    width: 100%;
}

footer{
    margin-top: 50px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Old Horror Films;
    color: white;
    padding: 50px 100px;
    text-align: center;
}
footer h1{
    letter-spacing: 17px;
    font-size: 40px;
}
footer p{
    letter-spacing: 5px;
    margin-top: 10px;
    font-size: 30px;
}
